<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PennBaseballApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6B4509341BE084E000B5C4E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B45094A1BE084E000B5C4E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6B4509551BE084E000B5C4E2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
